html, body {
  height: 100%;
  margin: 0;
  background-color: #f0ebd8;
}

#container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
  min-height: 100vh;
  background: url("/resources/bg.png") center/cover no-repeat;
  word-wrap: break-word;
}

#entry {
  padding-top: 4vh;
  font-size: 1.25rem;
  line-height: 1.4;
}